.finish-option {
    overflow: hidden;
    background-color: #ffffff;
    padding: 5px 5px;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    min-height: 70px;
    margin-bottom: 5px;
    display: flex;
}

.finish-option .half {
    width: 50%;
}

.admin-mode .finish-option {
    cursor: pointer;
}

.admin-mode .finish-option:hover {
    background-color: #f8f8f8;
    border: 2px solid #999999;
}

