.selections-category {
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 20px;
}

.selections-category .table {
    background-color: #ffffff;
}

.selections-category .table .table-row {
    border: 1px solid #bbb;
    border-top: none;
    overflow: hidden;
}

.selections-category h2 {
    padding: 5px 15px;
    border: 1px solid #bbb;
    margin-bottom: 0;
}

.selections-category h2 span.expand-collapse {
    font-size: 16px;
    margin-left: 10px;
}

.selections-category .selection:hover {
    background-color: #f0f0f0;
}

.selections-category .options-cell {
    padding: 5px 0 0;
    border: none;
}

.selections-category .finish-option {
    overflow: hidden;
    background-color: #fafafa;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-height: 70px;
    margin-bottom: 5px;
    display: flex;
}

.selections-category .finish-option .half {
    width: 50%;
    display: inline-block;
}

@media print {
    .selections-category h2 {
        border: none;
    }
}
