html {
    height: 100%;
}

body, html{
    color: #292929;
    background-color: #ffffff;
    margin: 0;
    font-size: 16px;
}

body {
    min-height: 100%;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.admin-section {
    background-color: #eeeeee;
    padding: 20px 0px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.large-container {
    margin: auto;
    max-width: 1000px;
    padding: 10px;
    position: relative;
}

.xlarge-container {
    margin: auto;
    max-width: 1200px;
    padding: 10px;
    position: relative;
}

.xlarge-container.fixed {
    margin: auto;
    width: 1200px;
}

.container {
    margin: auto;
    max-width: 700px;
    padding: 10px;
    position: relative;
}

.flex {
    display: flex;
}

.row {
    white-space: nowrap;
    overflow: hidden;
}

.half {
    width: 50%;
}

.third {
    width: 33%;
}

.two-third {
    width: 67%;
}

.hidden {
    display: none !important;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato";
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 10px;
    font-weight: normal;
}

.header { margin-bottom: 15px; }

h1 {
    font-weight: 900;
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

.small { font-size: 14px; }
.large { font-size: 20px; }
.bold { font-weight: bold; }
.light { font-weight: 300; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.8;
}

p.no-margin { margin-bottom: 0; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

ul {
    margin-top: 0px;
    margin-bottom: 25px;
}

ul li {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.3;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

#unit-floor-plan {
    text-align: center;
}

#unit-floor-plan .floor-plan-wrapper {
    position: relative;
    display: inline-block;
}

#unit-floor-plan p {
    margin-top: 0;
}

#unit-floor-plan .floor-plan-wrapper img {
    max-height: 400px;
}

@keyframes label {
    0% {
        -ms-transform: scale(1.0); /* IE 9 */
        -webkit-transform: scale(1.0); /* Safari */
        transform: scale(1.0);
    }
    100% {
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Safari */
        transform: scale(1.3);
    }
}

#unit-floor-plan .floor-plan-wrapper .label {
    position: absolute;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
}

#unit-floor-plan .floor-plan-wrapper .label:before {
    display: block;
    content: "";
    opacity: 0.2;
    color: white;
    background-color: #333333;
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    animation: label 1s ease-in-out infinite alternate;
}

#unit-floor-plan .floor-plan-wrapper .label span {
    margin-left: 10px;
    margin-top: 10px;
    display: none;
    color: white;
    font-size: 14px;
    background-color: #333333;
    padding: 4px 8px;
    border: 1px solid #cccccc;
    position: absolute;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

#unit-floor-plan .floor-plan-wrapper .label:hover span {
    display: block;
}

#unit-floor-plan .floor-plan-wrapper .label:hover::before {
    display: none;
}

#unit-floor-plan:hover .label:before {
    opacity: 1;
}

.screenshot { margin-bottom: 20px; }

#pano-window {
    width: 100%;
    padding-bottom: 50%;
    min-height: 300px;
    position: relative;
    margin-bottom: 30px;
}

#pano-window.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #ffffff;
}

#pano-window .controls { display: none; }
#pano-window .fullscreen-feedback { display: none; }
#pano-window.fullscreen .controls {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#pano-window.fullscreen .fullscreen-feedback {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100px;
}

#pano-window.fullscreen .fullscreen-feedback.open {
    display: block;
}

#pano-window.fullscreen .fullscreen-feedback textarea {
    display: block;
    height: 100%;
    width: 100%;
    resize: none;
    padding: 5px;
}
#pano-window.fullscreen .fullscreen-feedback textarea.disabled, textarea#feedback-input.disabled, textarea.disabled {
    background-color: #cccccc;
}
#pano-window.fullscreen .fullscreen-feedback .button-wrapper {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}

button, .button, #pano-window.fullscreen .controls a {
    display: inline-block;
    padding: 8px 14px;
    background-color: rgba(32, 83, 214,.8);
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.green, .button.green {
    background-color: #22d640;
}

button.red, .button.red {
    background-color: #d62020;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#pano-window .link-hotspot {
    color: white;
    background-color: #333333;
    padding: 4px 8px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);

    opacity: 1;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1000ms;
}

.pano-previews {
    margin-bottom: 15px;
    overflow: hidden;
}

.pano-previews .pano-preview {
    position: relative;
    float: left;
    width: 100px;
    height: 50px;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #333333;
    text-align: center;
}

.pano-previews .pano-preview:hover {
    border: 1px solid #000000;
    background-color: #555555;
}

.pano-previews .pano-preview.selected {
    border: 1px solid #000000;
    background-color: #555555;
}

.pano-previews .pano-preview.select-pano {
    background-color: #800080;
}

.pano-previews .pano-preview.select-pano:hover,
.pano-previews .pano-preview.selected-pano {
    background-color: #b300b2;
}

.pano-previews .pano-preview .name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: white;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

#unit-previews {
}

.unit-preview {
    display: inline-block;
    width: 200px;
    border: 1px solid #bbbbbb;
    margin-bottom: 20px;
    cursor: pointer;
}

.unit-preview .image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
}

.unit-preview .image-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

.unit-preview .name {
    background-color: rgba(0,0,0,.7);
    text-align: center;
    padding: 4px 0px;
    color: white;
}

.debug-center-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    background-color: purple;
    z-index: 1;
}

.file-uploading-message { display: none; }
.uploading .upload-button { display: none; }
.uploading .file-uploading-message { display: block; }

.save-status {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 2px solid #aaaaaa;
    background-color: #dddddd;
    padding: 10px 20px;
}

.version-wrapper {
    padding: 10px 0;
    background-color: #f5f5f5;
    border: 1px solid #f0f0f0;
    margin-bottom: 30px;
}

.version-wrapper header {
    padding: 0 20px;
    margin-bottom: 20px;
}

.version-wrapper h3 {
    margin: 0;
    padding: 0;
}

.version-wrapper .created_at {
    font-size: 14px;
    color: #888888;
    margin-bottom: 0;
}

.version-wrapper .to_complete {
    font-size: 14px;
    color: #444444;
    margin-bottom: 0;
    font-weight: bold;
}

.feedback-feed-item {
    padding: 10px 20px;
    border-top: 1px solid #888888;
}

.version-wrapper.completed, .feedback-feed-item.completed {
    background-color: #d0f5d0;
}

.version-wrapper.errors, .feedback-feed-item.errors {
    background-color: #f5d0d0;
}

.version-wrapper.rendering, .feedback-feed-item.rendering {
    background-color: #d0ecf5;
}

.feedback-feed-item h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.feedback-feed-item .created_at {
    font-size: 12px;
    color: #aaaaaa;
    margin-bottom: 0;
}

.feedback-feed-item .feedback-image, .feedback .feedback-image {
    float: right;
    padding-right: 20px;
}

p.filters {
    margin-bottom: 0;
}

.break {
    float: none;
    clear: both;
}

@media print {
    .hide-print { display: none !important; }
    .break-after { page-break-after: always; }
}

@media only screen and (max-width: 750px) {
    .half, .third, .two-third {
        width: 100%;
        display: block;
    }
}
