.documentLinkContainer {
  /* margin-left: 5%;
  display: flex;
  min-width: 18rem; */
  text-align: right;
}

.truncateCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

@media print {
}
