.sideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  z-index: 500;
  transition: left 200ms ease-out;
}

.sideDrawer.boxShadow {
  box-shadow: 3px 0px 8px 0px #00000014
}

.sideDrawer.close {
  left: -300px;
  transition: left 200ms ease-out;
}

.sideDrawer > div {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.drawerButtons {
  position: fixed;
  left: 299px;
  top: 70vh;
  width: 65px;
  height: 65px;
  padding-top: 10px;
  transition: left 200ms ease-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.drawerButtons.close {
  left: 0px;
  transition: left 200ms ease-out;
}

.drawerButtons button {
  border-radius: 0px 8px 8px 0px !important;
  margin: 0 !important;
  padding: 15px 3px !important;
}

.drawerButtons.boxShadow button {
  box-shadow: 2px 2px 4px 0px #00000033 !important;
}


.categoriesSection {
  height: 100%;
  padding-right: 0 !important;
  overflow-y: auto;
}
