.headerContent {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 635px) {
  .headerContent {
    flex-wrap: wrap;
  }
}

.headerContent h1 {
  display: inline-block;
  font-size: 38px;
  font-weight: bold;
}
.documentLinkContainer {
  display: flex;
  min-width: 15rem;
}

.editCurrentIcon {
  margin-left: 5%;
  cursor: pointer;
  color: #6d6d6d;
}

.editCurrentIcon:hover {
  color: #4183c4;
  text-decoration: none;
}