- is_search = false unless defined? is_search
- fields = finish_option.form_object
- fields[:option_id] = finish_option.id

.ui.fluid.card.option{ data: fields }
  .content

    .ui.grid
      .eight.wide.column
        - if !finish_option.nil?
          %p.bold{ style: "margin-bottom: 0px; line-height: 1.2;" }= finish_option["Name"]
          - if !finish_option["Unit Price"].nil?
            %p= "Price: $#{finish_option['Unit Price']}"
          - else
            %p Price: n/a

          - if !finish_option["Info"].nil?
            - info = (finish_option["Info"] || "").gsub("\n", "<br>")
            .notes
              = markdown.render(info)

      .eight.wide.column
        - if !finish_option.nil? and !finish_option["Image"].nil?
          - images = finish_option["Image"].first(2)
          - images.each do |m|
            %a{ href: m["url"], target: "_blank" }
              %img{ class: images.length == 1 ? "one" : "two", src: m["url"] }

  - if !is_search and is_admin_mode
    .extra.content
      - if finish_option.is_library?
        .pull-right FinishVisionVR Library

      %a.ui.unlink-selection-option{ href: "javascript:void(0)" } Unlink Option
      .ui.popup.unlink-selection-option-popup
        .header Unlink Option From Selection?
        %p You are about to unlink an option for this selection. Do you want to continue? You can relink it later if you want.
        .ui.red.button Unlink

      - if finish_option.is_library?
        &mdash;
        %a.ui.copy-to-edit-option{ href: "javascript:void(0)" } Edit Option
        .ui.popup.copy-to-edit-option-popup
          .header This is a Library Option.
          %p This is an option from our library. To edit, we create a duplicate and save it to your library.
          .ui.green.button.open-edit-option-modal.duplicate Create Copy
      - else
        &mdash;
        %a.ui.open-edit-option-modal{ href: "javascript:void(0)" } Edit Option

  - if is_search
    .extra.content
      - if finish_option.is_library?
        .pull-right FinishVisionVR Library

      %a.ui.link-to-selection{ href: "javascript:void(0)" } + Link Option to Selection
      - if finish_option.is_library?
        &mdash;
        %a.ui.copy-to-edit-option{ href: "javascript:void(0)" } Edit Option
        .ui.popup.copy-to-edit-option-popup
          .header This is a Library Option.
          %p This is an option from our library. To edit, we create a duplicate and save it to your library.
          .ui.green.button.open-edit-option-modal.duplicate Create Copy
      - else
        &mdash;
        %a.ui.open-edit-option-modal{ href: "javascript:void(0)" } Edit Option
