.ui.modal.finish-selection-modal
  .ui.inverted.dimmer
    .ui.text.loader Linking

  .header
    .pull-right
      .ui.icon.input
        %input.finish-search-input{ type: "text", placeholder: "Search for something" }
    %h4 Search for a finish option to link.

  .scrolling.content.search-content
    .ui.active.inverted.dimmer
      .ui.text.loader Searching

    .search-options-container

  .actions
    .pull-left
      %p
        Selection:
        %span.bold.selection-type
        %span{ style: "font-weight: normal;" } for
        %span.bold.selection-location
    .ui.green.button.open-create-finish-option-modal Create New Option
    .ui.cancel.button Close

.ui.small.modal.edit-finish-option-modal
  .ui.inverted.dimmer
    .ui.text.loader Saving & Linking

  .header.option-name

  .scrolling.content
    .ui.form.option-form
      %input.record-id{ type: "hidden" }

      .field
        %label Option Name
        %input.name{ type: "text", placeholder: "Name" }
      .field
        .two.fields
          .field
            %label Option Type
            .ui.selection.dropdown
              %input.type{ type: "hidden" }
              %i.dropdown.icon
                .menu
                  .item{ data: { value: "1" } } Option 1
          .field
            %label Unit Price
            %input.unit-price{ type: "text", placeholder: "$15.70" }
      .field
        %label Option Website Link
        %input.url{ type: "text", placeholder: "URL" }
      .field
        %label Info
        %textarea.info{ rows: "2" }
      .field
        %label Images
        %input.image{ type: "file" }

  .actions
    .ui.cancel.button Close
    .ui.popup.close-edit-option
      .header Discard Changes?
      %p Any changes you have made will not be saved. Press the save button to save changes.
      .ui.red.button Discard Changes
    .ui.blue.button Save
    .ui.green.button Save & Link

:css
  .ui.modal.finish-selection-modal .header {
    font-size: inherit;
    padding-top: 1em;
  }

  .ui.modal.finish-selection-modal .header h4 {
    margin: 0;
  }

  .ui.modal.finish-selection-modal .content.search-content {
    position: relative;
    min-height: 300px;
  }


:javascript
  $(document).ready(function () {
    var $searchOptionsContainer = $(".finish-selection-modal .search-options-container");
    var $searching = $(".finish-selection-modal .content .ui.inverted.dimmer");
    var $linking = $(".finish-selection-modal > .ui.inverted.dimmer");
    var $openCreateOption = $(".finish-selection-modal .actions .open-create-finish-option-modal");
    var $editFinishOptionModal = $(".edit-finish-option-modal");

    $(".ui.modal").modal({ allowMultiple: true, closable: false });
    $('.close-edit-option').popup({ inline: true, on: "click" });

    $editFinishOptionModal.modal({
      closable: false,
      allowMultiple: true,
      onDeny: function(){
        $linking.removeClass('active');
      },
      onApprove: function() {
        window.alert('Approved!');
      }
    })

    function populateEditFinishOptionModal(option) {
      if(!option) option = {};
      var $form = $(".edit-finish-option-modal .option-form");

      $(".edit-finish-option-modal .option-name").text(option["name"] || "New Option");
      $form.find(".name").val(option["name"] || "");
      $form.find(".type").val(option["type"] || "");
      $form.find(".unit-price").val(option["unit_price"] || "");
      $form.find(".url").val(option["url"] || "");
      $form.find(".info").val(option["info"] || "");
    }

    $openCreateOption.click(function () {
      populateEditFinishOptionModal();
      $linking.addClass("active");
      $editFinishOptionModal.modal('show');
    });

    $(".selections-container").on("click", ".open-edit-option-modal", function () {
      var $this = $(this);
      var $modal = $(".finish-selection-modal");
      var $selectionOption = $this.closest(".option");
      var $selection = $this.closest(".selection");
      var data = $selectionOption.data();

      var selectionId = $selection.data("selection-id");
      var selectionType = $selection.data("type");
      var selectionLocation = $selection.data("location");

      $(".finish-selection-modal").data("selection-id", selectionId);

      $(".finish-selection-modal .selection-type").text(selectionType);
      $(".finish-selection-modal .selection-location").text(selectionLocation);

      $(".finish-selection-modal .finish-search-input").val("");
      $(".finish-selection-modal .finish-search-input").trigger("keyup");
      $modal.modal("show");

      populateEditFinishOptionModal(data);
      $linking.addClass("active");
      $editFinishOptionModal.modal("show")
    });

    $(".search-options-container").on("click", ".open-edit-option-modal", function () {
      var $this = $(this);
      var $selectionOption = $this.closest(".option");
      var data = $selectionOption.data();

      populateEditFinishOptionModal(data);
      $linking.addClass("active");
      $editFinishOptionModal.modal("show")
    });

    $(".search-options-container").on("click", ".link-to-selection", function () {
      var $this = $(this);
      var $selectionOption = $this.closest(".option");
      var optionId = $selectionOption.data("option-id");
      var $modal = $this.closest(".finish-selection-modal");
      var selectionId = $modal.data("selection-id");

      $linking.addClass("active");

      var url = "/project/#{access_token}/finishes/selection/" + selectionId + "/option/" + optionId + "/link"

      $.post(url, function (data) {
        var dataJSON = JSON.parse(data);
        var $selection = $(".selection[data-selection-id=\"" + selectionId + "\"]");
        var option = dataJSON["option"] || {};

        if(option["List Card HTML"]) {
          $selection.find(".open-selection-option-modal").before(option["List Card HTML"]);
        }

        $linking.removeClass("active");
        $modal.modal('hide');
      });
    });

    function searchForFinishes(search) {
      safe_search = encodeURIComponent(search)
      $.get("/project/#{access_token}/finishes/options/search", { s: safe_search }, function (data) {
        var $cards = [];
        var data = JSON.parse(data);
        var options = data["options"];

        $searchOptionsContainer.empty();

        for (var i = 0; i < options.length; i++) {
          $cards.push(options[i]["Search Card HTML"] || "");
        }

        $searchOptionsContainer.append($cards);
        $searching.removeClass("active");
      });
    }

    var debouncedSearch = _.debounce(searchForFinishes, 400)

    $(".finish-selection-modal .finish-search-input").keyup(function () {
      var $this = $(this);
      var searchText = $this.val();
      var $searching = $(".finish-selection-modal .content .ui.inverted.dimmer");

      $searching.addClass("active");
      $searchOptionsContainer.empty();
      debouncedSearch(searchText);
    });
  });
