.ui.modal.finish-selection-modal
  .ui.inverted.dimmer
    .ui.text.loader Linking

  .header
    .pull-right
      .ui.icon.input
        %input.finish-search-input{ type: "text", placeholder: "Search for something" }
    %h4 Search for a finish option to link.

  .scrolling.content.search-content
    .ui.active.inverted.dimmer
      .ui.text.loader Searching

    .search-options-container

  .actions
    .pull-left
      %p
        Selection:
        %span.bold.selection-type
        %span{ style: "font-weight: normal;" } for
        %span.bold.selection-location
    .ui.green.button.open-create-finish-option-modal Create New Option
    .ui.cancel.button Close

.ui.small.modal.edit-finish-option-modal
  .ui.inverted.dimmer
    .ui.text.loader Saving & Linking

  .header.option-name

  .scrolling.content
    .ui.form.option-form
      %input.record-id{ type: "hidden" }

      .field
        %label Option Name
        %input.name{ type: "text", placeholder: "Name" }
      .field
        .two.fields
          .field
            %label Option Type
            .ui.selection.dropdown
              %input.type{ type: "hidden" }
              %i.dropdown.icon
                .menu
                  .item{ data: { value: "1" } } Option 1
          .field
            %label Unit Price
            %input.unit-price{ type: "text", placeholder: "$15.70" }
      .field
        %label Option Website Link
        %input.url{ type: "text", placeholder: "URL" }
      .field
        %label Info
        %textarea.info{ rows: "2" }
      .field
        %label Images
        %input.images{ type: "file", multiple: true, data: { max_files: 2 } }

  .actions
    .ui.cancel.button Close
    .ui.blue.approve.button Save
    .ui.green.approve.button Save & Link

:css
  .ui.modal.finish-selection-modal .header {
    font-size: inherit;
    padding-top: 1em;
  }

  .ui.modal.finish-selection-modal .header h4 {
    margin: 0;
  }

  .ui.modal.finish-selection-modal .content.search-content {
    position: relative;
    min-height: 300px;
  }

