- is_search = false unless defined? is_search

.ui.fluid.card.option{ data: { option_id: finish_option.id } }
  .content

    .ui.grid
      .eight.wide.column
        - if !finish_option.nil?
          %p.bold{ style: "margin-bottom: 0px; line-height: 1.2;" }= finish_option["Name"]
          - if !finish_option["Unit Price"].nil?
            %p= "Price: $#{finish_option['Unit Price']}"
          - else
            %p Price: n/a

          - if !finish_option["Info"].nil?
            - info = (finish_option["Info"] || "").gsub("\n", "<br>")
            .notes
              = markdown.render(info)

      .eight.wide.column
        - if !finish_option.nil? and !finish_option["Image"].nil?
          - images = finish_option["Image"].first(2)
          - images.each do |m|
            %a{ href: m["url"], target: "_blank" }
              %img{ class: images.length == 1 ? "one" : "two", src: m["url"] }

  - if !is_search and is_admin_mode
    .extra.content
      %a.ui.unlink-selection-option{ href: "javascript:void(0)" } Remove Option
      .ui.popup.unlink-selection-option-popup
        .header Unlink Option From Selection?
        %p You are about to unlink an option for this selection. Do you want to continue? You can relink it later if you want.
        .ui.red.button Unlink

  - if is_search
    .extra.content
      %a.ui.link-to-selection{ href: "javascript:void(0)" } + Link Option to Selection
