.site-header
  .xlarge-container
    %h1= project["Name"]

    .ui.tabular.menu.hide-print
      %a.item{ href: "/project/#{access_token}/finishes", class: page == "finishes" ? "active" : "" } Finish Selections
      %a.item{ href: "/project/#{access_token}", class: page == "renderings" ? "active" : "" } Renderings

.site-header-spacer
