.xlarge-container
  .ui.tabular.menu.hide-print
    .left.menu
      %h1.bold= project["Name"]

    .right.tabular.menu
      %a.item{ href: "/project/#{access_token}/finishes", class: page == "finishes" ? "active" : "" } Finish Selections
      %a.item{ href: "/project/#{access_token}", class: page == "renderings" ? "active" : "" } Renderings

