%table
  %thead
    %tr
      %th{ style: "width: 25%;" } Name
      %th{ style: "width: 25%;" } Image
      %th{ style: "width: 25%;" } Info
      %th{ style: "width: 25%;" } Controls
  %tbody
  - finish_options.each do |option|
    %tr
      %td= option["Name"]
      %td
        %img{ src: option["Image"][0]["url"] }
      %td= option["Info"]
      %td
        %a.add-to-model{ href: "javascript: sketchup.add_to_model('#{option['SketchUp Model'][0]['url']}')" } Add to Model


:css
  @media print {
    body { font-size: 14px; }
    table { page-break-inside:auto; page-break-after: always;}
    tr { page-break-inside:avoid; page-break-after:auto }
  }

  img {
    max-height: 225px;
    display: block;
  }

  tbody td, tbody tr {
    height: 225px;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
    word-wrap: break-word;
  }

  td {
    padding: 1px 10px;
  }

  td * {
    font-size: 14px;
    line-height: 1.2;
  }

  thead tr {
    height: 30px;
  }

  a.selected {
    color: #000000;
    font-weight: bold;
  }

  a.selected:hover {
    text-decoration: none;
  }

