!!!
%html
  %head
    - if defined? fixed_width_viewport
      %meta(name="viewport" content="width=1200, initial-scale=1, maximum-scale=1.0")
    - else
      %meta(name="viewport" content="width=device-width, initial-scale=1")

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %script{:crossorigin => "anonymous", :integrity => "sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", :src => "https://code.jquery.com/jquery-2.2.4.min.js"}
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" }
    %script{:src => "https://s3-us-west-2.amazonaws.com/construction-vr/libs/marzipano.js", type: "text/javascript"}
    %script{:src => "https://s3-us-west-2.amazonaws.com/construction-vr/libs/rAF.js", type: "text/javascript"}
    %script{:src => "https://s3-us-west-2.amazonaws.com/construction-vr/libs/es5-shim.min.js", type: "text/javascript"}
    %script{:src => "https://s3-us-west-2.amazonaws.com/construction-vr/libs/aws-sdk.min.js", type: "text/javascript"}

    - if !defined? no_style
      %link(type="text/css" rel="stylesheet" href="/semantic.min.css?v=190407")
      %script(src="/semantic.min.js?v=190407")

      %link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:300,400,700|Handlee" rel="stylesheet")
      %link(type="text/css" rel="stylesheet" href="/style.css?v=200117")

  %body
    = yield

    - if defined? fixed_width_viewport
      :javascript
        var $viewportElement = document.head.querySelector("[name~=viewport]");
        var ratio = document.body.clientWidth / 1200;
        $viewportElement.setAttribute('content', 'width=1200, maximum-scale=1.0, initial-scale=' + ratio);
