doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")

        meta(content="text/html charset=UTF-8" "http-equiv"="Content-Type")

        script(crossorigin="anonymous" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" src="https://code.jquery.com/jquery-2.2.4.min.js")

        link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:300,400,700|Handlee" rel="stylesheet")
        link(type="text/css" rel="stylesheet" href="/style.css?v=190407")
        script(src="/semantic.min.js?v=190407")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")

        block default_style
            link(type="text/css" rel="stylesheet" href="/style.css?v=190407")

    body#no-site-header
        block content
