.large-container
  %h1= pano["Name"]
  %p
    %a{ href: "/unit/#{pano["Unit ID"].first}" } Back to Unit

  #pano-window

.container
  %form{ action: "/pano/#{pano.id}/feedback", method: "post"}
    %textarea#feedback-input{ name: "notes", placeholder: "Enter your feedback here..." }
    %button#feedback-submit Submit Feedback

  %h2 Recent Feedback
  - pano.feedbacks.each do |feedback|
    %p= feedback["Notes"]
