.container
  %h1 Your Projects

  - @current_user.teams.each do |team|
    %h2= "Team: " + team["Name"]

    - team.projects.each do |project|
      %p
        %a{ href: "/project/#{project["Access Token"]}/finishes" }= project["Name"]

