.container
  %h1= project["Name"]

  %hr

  #unit-previews
    - project.units.each do |unit|
      .unit-preview{ data: { href: "/project/#{access_token}/unit/#{unit["Record ID"]}" } }
        .image-wrapper
          %img{ src: unit["Floor Plan Image"][0]["url"] }
          .name= unit["Name"]

:javascript
  $(document).ready(function () {
    var $unitPreviews = $(".unit-preview");

    $unitPreviews.click(function (e) {
      e.preventDefault();
      var unitHref = $unitPreviews.data("href");
      window.location.href = unitHref;
    });
  });
