.container
  %h1 Procurement Forms

  - project.procurement_forms.each do |procurement_form|
    %p
      %a{ href: "/procurement_forms/#{procurement_form["Access Token"]}" }= procurement_form["Name"]

