= haml :_project_header, locals: { page: "finishes", project: project, access_token: access_token }

#finishes-app

:javascript
  var PROJECT_ACCESS_TOKEN = "#{access_token}";

%script(src="/dist/finishes_app.js?v=041020")
