extends no_site_header_layout.pug

block content
    .small-container
        if err
            .ui.middle.aligned.center.aligned.grid
                .column
                    .ui
                        p.ui.red.header= err
        .ui.middle.aligned.center.aligned.grid
            .column
                form.ui.form(action="/app/reset-password-link" method="post")
                    .ui.segment
                        input(type="hidden" name="reset_password_token" value=user.resetPasswordToken)

                        .field
                            label Email
                            input(type="text" value=user.email disabled)

                        .field
                            label New Password
                            input(type="password" name="password" placeholder="********")

                        button.ui.fluid.large.teal.submit.button(type="submit") Reset Password
