.small-container
  %h1 Ready to Get Organized?

  %p You get a 30 day free trial!
  %p No need to enter a credit card until your trial is up.

  %form.ui.form{ action: "/sign_up", method: :post }
    .field
      %label Email
      %input{ type: "text", name: "email", placeholder: "mike@architect.com" }

    .field
      %label Password
      %input{ type: "password", name: "password", placeholder: "*********" }

    .two.fields
      .field
        %label First Name
        %input{ type: "text", name: "first_name", placeholder: "Michael" }

      .field
        %label Last Name
        %input{ type: "text", name: "last_name", placeholder: "Jordan" }

    .field
      %label Team Name
      %input{ type: "text", name: "team_name", placeholder: "Jordan Architecture + Design" }

    %button.ui.button{ type: "submit" } Sign In

    %a{ href: "/sign_in" } Already have an account? Sign in.
