.container
  %h1= unit["Name"]
  %p
    %a{ href: "/project/#{access_token}" } Back to Project

  %hr

  - unit.panos.each do |pano|
    %p
      %a{ href: "/project/#{access_token}/pano/#{pano.id}" }= pano["Name"]
