.container
  %h1= unit["Name"]
  %p
    %a{ href: "/project/#{unit["Project ID"].first}" } Back to Project

  %hr

  - unit.panos.each do |pano|
    %p
      %a{ href: "/pano/#{pano.id}" }= pano["Name"]
