#site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: solid 1px #cccccc;
    background-color: #ffffff;
    z-index: 9;
    box-shadow: 0 1px 5px #555555;
}

#site-header #user-header .xlarge-container {
    padding-top: 0;
    padding-bottom: 0;
}

#site-header #project-header .xlarge-container {
    padding-top: 0;
    padding-bottom: 5px;
}

#site-header #project-header h1 {
    padding-top: 0;
}

#site-header .ui.text.menu {
    min-height: auto;
    margin: 0;
}

#site-header #user-header {
    color: #f8f8f8;
    background-color: #333333;
    border-bottom: 1px solid #eeeeee;
}

#site-header #user-header a.white {
    color: #f8f8f8;
}
