* { box-sizing: border-box; }

.large-container {
    margin: auto;
    max-width: 1000px;
}

.container {
    margin: auto;
    max-width: 700px;
}

.row {
    white-space: nowrap;
    overflow: hidden;
}

.half {
    display: inline-block;
    width: 50%;
    float: left;
}

.third {
    display: inline-block;
    width: 33%;
    float: left;
}

.two-third {
    display: inline-block;
    width: 67%;
    float: left;
}

img {
    max-width: 100%;
}

#unit-floor-plan {
    position: relative;
}

#unit-floor-plan .label {
    display: block;
    opacity: 0.2;
    color: white;
    background-color: #333333;
    padding: 4px 8px;
    border: 1px solid #cccccc;
    position: absolute;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

#unit-floor-plan:hover .label {
    opacity: 1;
}

#pano-window {
    width: 100%;
    padding-bottom: 50%;
    min-height: 300px;
    position: relative;
    margin-bottom: 30px;
}

#pano-window.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #ffffff;
}

#pano-window .controls { display: none; }
#pano-window .fullscreen-feedback { display: none; }
#pano-window.fullscreen .controls {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#pano-window.fullscreen .fullscreen-feedback {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100px;
}

#pano-window.fullscreen .fullscreen-feedback.open {
    display: block;
}

#pano-window.fullscreen .fullscreen-feedback textarea {
    display: block;
    height: 100%;
    width: 100%;
    resize: none;
    padding: 5px;
}
#pano-window.fullscreen .fullscreen-feedback textarea.disabled, textarea#feedback-input.disabled {
    background-color: #cccccc;
}
#pano-window.fullscreen .fullscreen-feedback button {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}

button, .button, #pano-window.fullscreen .controls a {
    display: inline-block;
    padding: 8px 14px;
    background-color: rgba(32, 83, 214,.8);
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#pano-window .link-hotspot {
    color: white;
    background-color: #333333;
    padding: 4px 8px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

#feedback-input {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 14px;
}

#pano-previews {
    margin-bottom: 15px;
    overflow: hidden;
}

#pano-previews .pano-preview {
    position: relative;
    float: left;
    width: 100px;
    height: 50px;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #333333;
    text-align: center;
}

#pano-previews .pano-preview:hover {
    border: 1px solid #000000;
    background-color: #555555;
}

#pano-previews .pano-preview.selected {
    border: 1px solid #000000;
    background-color: #555555;
}

#pano-previews .pano-preview .name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: white;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

#unit-previews {
}

.unit-preview {
    display: inline-block;
    width: 200px;
    border: 1px solid #bbbbbb;
    margin-bottom: 20px;
    cursor: pointer;
}

.unit-preview .image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
}

.unit-preview .image-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
}

.unit-preview .name {
    background-color: rgba(0,0,0,.7);
    text-align: center;
    padding: 4px 0px;
    color: white;
}

.debug-center-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    background-color: purple;
    z-index: 1;
}

@media only screen and (max-width: 750px) {
    .half, .third, .two-third {
        width: 100%;
        display: block;
    }
}
