/* .admin-mode .selection {
  cursor: pointer;
}

.admin-mode .selection:hover {
  background-color: #f0f0f0;
}

.selection .options-cell {
  padding: 5px 5px 0 0;
  border: none;
}

.selection .cell-details .label:hover {
  background-color: #ffffff;
  cursor: pointer !important;
}

.selection .cell-details .label .dropdown:hover {
  cursor: pointer !important;
} */

.finishCard {
  display: flex;
  min-height: 180px;
  padding: 1%;
  border: 1px solid #bbb;
  background-color: #ffffff;
}

.adminMode .finishCard:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.detailsSection {
  flex-grow: 2;
}

.cellHeading {
  composes: spaceBetween from '../universalStyles/flexStyles.module.css';
  line-height: 1.2;
  font-weight: bold;
  min-width: 60px;
}

.detailsHeadingContainer {
  display: flex;
}

.detailsTableContainer {
  margin: 1% 0;
  margin-left: 60px;
}

.detailsTable {
  font-size: .9rem;
}

.imageSection {
  composes: flexEnd from '../universalStyles/flexStyles.module.css';
  align-items: center;
  flex-grow: 2;
}

.imageSectionItem {
  composes: center from '../universalStyles/flexStyles.module.css';
  padding: 1%;
}

.finishCardImg {
  width: 150px;
  height: 150px;
  padding: 1%;
  object-fit: contain;
  align-self: stretch;
}
