.finishCard {
  display: flex;
  min-height: 110px;
  padding: 2px;
  border: 1px solid #bbb;
  background-color: #ffffff;
}

.draggingState {
  width: 350px;
}

.adminMode .finishCard:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.detailsSection {
  flex-grow: 2;
}

.hideDetails {
  display: none;
}

.showDetails {
  display: block;
}

@media print {
  .hideDetails {
    display: block;
  }
}

.cellHeading {
  composes: spaceBetween from '../universalStyles/flexStyles.module.css';
  line-height: 1.2;
  font-weight: bold;
  min-width: 60px;
}

.detailsHeadingContainer {
  display: flex;
}

.detailsTableContainer {
  margin: 1% 0;
  margin-left: 60px;
}

.detailsTable {
  font-size: .85rem;
}

.imageSection {
  composes: flexEnd from '../universalStyles/flexStyles.module.css';
  align-items: flex-start;
  flex-grow: 2;
}

.draggingState .imageSection {
  display: none;
}

.imageSectionItem {
  composes: center from '../universalStyles/flexStyles.module.css';
  padding: 2px;
}

.finishCardImg {
  width: 120px;
  max-height: 100px;
  padding: 2px;
  object-fit: contain;
  align-self: stretch;
}

@media print {
  .detailsTable {
    font-size: 10pt;
  }
}
