.documentLinkContainer {
  margin-left: 5%;
  display: flex;
  min-width: 18rem;
  align-items: baseline;
}

.editCurrentIcon {
  margin-left: 5%;
  cursor: pointer;
  color: #6d6d6d;
}

.editCurrentIcon:hover {
  color: #4183c4;
  text-decoration: none;
}