.give-feedback {
    position: relative;
    margin-bottom: 20px;
}

.give-feedback textarea {
    font-size: 16px;
}

.feedback {
    padding: 10px 0;
    border-top: 1px solid #888888;
}

.feedback .title {
    margin-bottom: 5px;
}

.feedback .pano_name {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.feedback .created_at {
    font-size: 12px;
    color: #aaaaaa;
    margin-bottom: 0;
    line-height: 1.2;
}

.feedback .feedback-image {
    float: right;
    padding-left: 20px;
    padding-right: 0;
    display: block;
}

.feedback .feedback-image img {
    width: 300px;
}

@media only screen and (max-width: 750px) {
    .feedback .feedback-image img {
        width: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .feedback .feedback-image {
        float: none;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .feedback .feedback-image img {
        width: auto;
        max-height: 150px;
    }
}
