.modalHeader {
}

.center {
  text-align: center;
}

.link {
  background-color: #e2eeff;
  padding: 1%;
  border-radius: 8px;
}
.clipboardBtn {
  position: relative;
}

.clipboardBtn:hover {
  cursor: pointer;
}

.successMsg {
  position: absolute;
  top: -8px;
  right: -75px;
  color: #2d2d2d;
}