.field .image-placeholder {
  background-color: #fafafa;
  padding: 5px 5px;
  border: 2px dashed #ccc;
  border-radius: 3px;
  min-height: 35px;
  margin-bottom: 5px;
  text-align: center;
  color: #cccccc;
  cursor: pointer;
}

.field .image-placeholder:hover {
  color: #40A819;
  border-color: #40A819;
}


.uiFormFieldLabel {
  display: block;
  margin: 0 0 .28571429rem 0;
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}

.docAttachment {
  display: flex;
  background-color: #e6e6e6;
  padding: 1%;
  font-size: .8rem;
}

.docAttachment a {
  font-size: .8rem;
  white-space: pre-wrap;
}
