body {
  padding-top: 80px !important;
}

.siteHeader {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  padding-top: 10px;
  height: 75px;
  z-index: 999;
  border-bottom: 1px solid #999999;
}

.siteHeader :global(.fluid-container) {
  display: flex;
  padding: 2px 10px 0;
  flex-direction: row;
}

.siteHeader .leftNav {
  white-space: nowrap;
  flex-shrink: 0;
  padding-right: 30px;
}

.siteHeader .mainNav {
  width: 100%;
  white-space: nowrap;
}

.siteHeader .rightNav {
  white-space: nowrap;
  flex-shrink: 0;
  padding-left: 30px;
}

.siteHeader a {
  display: inline-block;
  white-space: nowrap;
}

.siteHeader a {
  padding: 15px 10px;
}

.siteHeader a {
  padding: 15px 10px;
}

@media screen and (max-width: 850px){
  .siteHeader a {
      padding: 5px 10px;
  }
}

.siteHeader a.tall {
  padding: 0 10px;
}

.siteHeader img.logo {
  max-height: 30px;
}

.siteHeader .ui.grid {
  width: 100%;
  margin: 0;
}

.siteHeader .ui.grid .column {
  margin: 0;
}

.siteHeader .right-container {
  text-align: right;
}

.siteHeader .ui.button.dashboard {
  padding: 6px;
}

.siteHeader .ui.button.account,
.siteHeader .ui.button.sign_in {
  background-color: transparent !important;
  color: #e0e1e2 !important;
}

.siteHeader .ui.button.account:hover .text,
.siteHeader .ui.button.sign_in:hover {
  text-decoration: underline;
}

.siteHeader .ui.button {
  height: 26px;
  padding: 5px 10px;
  vertical-align: top;
}

@media print {
  .siteHeader { display: none !important; }
}

.siteHeader .navbarToggler {
  display: none;
}

@media screen and (max-width: 850px){
  .siteHeader .hideMobile {
      display: none;
  }
  .siteHeader .navbarToggler {
      display: block;
      position: absolute;
      right: 5%;
      top: 30%;
      font-size: 30px;
  }
}

